#bannerSlider .slick-dots{
  bottom: 10px !important;
}

#bannerSlider .slick-dots li.slick-active button:before {
    opacity: .75;
    color: red;
}
#bannerSlider .slick-dots li button:before {
    content: "•";
    text-align: center;
    opacity: 1;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 14px;

}