.homeSection{
    min-height: 100vh;
    padding: 30px 0px;
}

.homeSection h1{
    text-align: center;
    padding: 30px 0px;
}

.productConatiner{
    max-width: 1320px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.productItems {
    border: 1px solid #ccc;
}
.productItems img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.productItems h3{
    text-align: center;
    padding: 10px 0px;
}